/*.body {
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}*/
.container {
    width: 95%;
    align-content: center;
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    display: flex;
    justify-content: space-between;
}
.userForm{
    display:flex;
    justify-content:space-between;
}
.userForm__block{
    width: 40%;
    outline: 1px solid red;
}